<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="/management">
                        Management
            </a>
        </li>
        <li>
            <a href="/management/clients">Clients</a>
        </li>
        <li>
            <a href="/management/clients/create">Create a new Client</a>
        </li>
        <li>
            <a href="/management/users">Users</a>
        </li>
        <li>
            <a href="/management/users/create">Create a new user</a>
        </li>
    </ul>
</div>